.searchDrContainer {
  position: absolute;
  width: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 4.26rem;
  padding: 1rem;
  // background: white;
  border-radius: 5px;
  background: #fff;
  height: fit-content;
  max-height: fit-content;
  box-shadow: 2px 2px 10px 1px #3b3838;
  // border-top: 1px solid #3b3838;
}
.searchProductContainer {
  max-height: 420px;
  overflow: auto;
}
.searchProduct {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
}
.searchTitle {
  color: #000000;
  font-weight: 500;
  padding: 0 0.5rem;
}
.cardContainer {
  cursor: pointer;
  color: #000000;
  width: 100%;
  &:hover {
    color: #1269c2;
  }
}
.card {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  img {
    height: 50px;
    width: 50px;
  }
  h2 {
    font-size: 14px;
    padding: 0 1em;
    display: flex;
    font-weight: 400;
    color: #000000;
    flex-direction: column;
    span {
      font-size: 1rem;
      font-weight: 500;
      color: #000000;
    }
    &:hover {
      color: #1269c2;
    }
  }
}
.viewAll {
  width: 100%;
  text-align: center;
  // background: #073540;
  border: none;
  // color: #e83527;
  color: #000000;
  font-weight: 500;
  border-top: 1px solid #3b3838;
  font-size: 13px;
  margin-bottom: 0;
  text-transform: capitalize;
  //  padding:.5rem 0;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.1s;
  &:hover {
    font-weight: 700;
  }
}
.noResultFound {
  // background: rgb(0, 0, 0);
  color: #000000;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  font-weight: 500;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // @include flexCenter(row);
  width: 100%;
  font-size: 14px;

  // border: 1px solid rgb(224, 224, 224);
  border-top: none;
  span {
    color: #00000090;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 75%;
    margin-left: min(-25px, -4%);
  }
}
