$main-color: #000000;
$primary-color: #000000;
$secondary-color: #ffffff;
$light-primary-color: #716c6c;
$light-color: #cfcfcf;
$bg-main-color: #ffffff;
$bg-primary-color: #3e4093;
$bg-secondary-color: #eaeaea;
$bg-footer-color: #191d28;
